# == Vite =========================================================================
VITE_API_URL=

# == SupaBase =====================================================================
# the ID of the SupaBaseProject
SUPABASE_PROJECT_ID=
